@using Entity.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    @foreach (var admin in Model)
    {
        <tr>
            <th>@admin.AdminId</th>
            <td>@admin.AdminUserName</td>
            <td>@admin.Role.Name</td>
            <td>@admin.AdminStatus</td>
            @if (admin.AdminStatus == true)
            {
                <td><a href="/Authorization/Delete/@admin.AdminId" class="btn btn-warning">Pasif Yap</a></td>
            }
            else
            {
                <td><a href="/Authorization/Delete/@admin.AdminId" class="btn btn-success">Aktif Yap</a></td>
            }

            <td><a href="/Authorization/Update/@admin.AdminId" class="btn btn-danger">Yetkisini Değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/Add/" class="btn btn-info ">Yeni Admin Ekle</a>


