<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Hakkımızda Yazı Girişi</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Hakkımda Ekleme Sayfası</h3>
            </div>
            <form method="post" action="/About/Add/">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label><input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label><input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 1</label><input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label><input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>