@using Entity.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-hover">
    <tr>
        <td>#</td>
        <td>Hakkımda Başlığı</td>
        <td>Aktif Yap</td>
        <td>Pasif Yap</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>Başlık</td>
            <td><a href="#" class="btn btn-success">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>
@Html.Action("AboutPartial","About")
