
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Yeni Kategori</h2>
<br/>
<form method="post" class="form form-group">
    <input type="text" placeholder="Kategori adı giriniz" class="form form-control"/>
</form>
