
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>MVC Proje Kamoı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../../AdminLTE-3.0.4/login-form-20/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(../../AdminLTE-3.0.4/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Yazar Girişi</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Bir hesabın var mı?</h3>
                        @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" name="WriterMail" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" name="WriterPassword" placeholder="Şifre" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="g-recaptcha" data-sitekey="6LfQczwbAAAAADP-yk6RizRtAawpfdSm0BKpZz6f"></div>
                            <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
                            <br/>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Giriş Yap</button>
                            </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50">
                                        <label class="checkbox-wrap checkbox-primary">
                                            Beni Hatırla
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-50 text-md-right">
                                        <a href="#" style="color: #fff">Şifremi Unuttum</a>

                                    </div>
                                </div>
                                <div>
                                </div>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../AdminLTE-3.0.4/login-form-20/js/jquery.min.js"></script>
    <script src="../../AdminLTE-3.0.4/login-form-20/js/popper.js"></script>
    <script src="../../AdminLTE-3.0.4/login-form-20/js/bootstrap.min.js"></script>
    <script src="../../AdminLTE-3.0.4/login-form-20/js/main.js"></script>

</body>
</html>

